if SHIELD_MICA_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Mica Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MICA_LEFT || SHIELD_MICA_RIGHT

config ZMK_SPLIT
    default y
config ZMK_SLEEP
    default y

endif
